@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

 {
	margin: 0;
	padding: 0;
}

#wrap {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #333;
	overflow: hidden;
}

#popup {
	position: absolute;
	width: 300px;
	height: auto;
	top: 50%; left: 50%;
	margin-left: -150px; margin-top: -100px;
	-webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
    perspective: 800px;
    perspective-origin: 50% 50px;
}

.piece {
  /* Gray like a building! */
	background: rgba(152,152,152,0.75);
	float: left;
}

#popup p {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 40px;
	top: 40%; margin-top: -20px;
	font-family: 'Noto Sans', sans-serif;
	color: #ccc;
}

.reverse {
	/*height: auto;*/
	margin-left: 46.5%;top: 45%; margin-top: -20px;
	position: absolute;
  text-align: center;
  /*top: 20px;*/
	/*left: 20px;*/
	font-family: 'Noto Sans', sans-serif;
	color: #ccc;
	/*cursor: pointer;*/
}

.boop {
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  color: blue;
}
