@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

 {
	margin: 0;
	padding: 0;
}

/*#groundBG {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #333;
	overflow: hidden;
}*/

#skyBG {
  position: absolute;
  top: 0%; left: -1%;
  background-color: #caf8ff;
  height: 48%;
  width: 1500%;
}

#cloudsBG {
  position: absolute;
  top: 48%;
  width: 1500%;
  background-color: #fff;
}

#buildingsBG {
  position: absolute;
  top: 60%; left: -1%;
  width: 1500%;
  height: 30%;
  background-color: #989898;
  /*layer-background-color: blue;*/
  /*border: thin solid black;*/
}

#roadBG {
  position: absolute;
  background-color: #000000;
  top: 88%; left: -1%;
  height: 12%;
  width: 1500%;
}

#roadSurfaceMarking {
  position: relative;
  border:none;
  top: 49%;
  border-top:5px dotted #fff500;
  color:#fff;
  /*background-color:#fff;*/
  height:1px;
  width: 100%;
}

#popup {
	position: absolute;
	width: 300px;
	height: auto;
	top: 50%; left: 50%;
	margin-left: -150px; margin-top: -100px;
	-webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
    perspective: 800px;
    perspective-origin: 50% 50px;
}

/* Main "building" */
.piece {
  /* Gray like a building! */
	background: #585858;
	float: left;
  /*if border is added ('windows'), decrease piece count */
  /*border: .001px dotted #fff;*/
}

#popup p {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 40px;
	top: 40%; margin-top: -20px;
	font-family: 'Noto Sans', sans-serif;
	color: #ccc;
}

.reverse {
	/*height: auto;*/
	margin-left: 48%;top: 45%; margin-top: -20px;
	position: absolute;
  text-align: center;
  /*top: 20px;*/
	/*left: 20px;*/
	font-family: 'Noto Sans', sans-serif;
	color: #ccc;
	/*cursor: pointer;*/
}

.boop {
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  color: blue;
}
